/* .image{
    background: url(../assets/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 31rem;
    margin-right: 0;
    margin-top: 0;
    } */